body {
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(135deg, #e7d4f7, #d2b6f3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: #fff;
    width: 360px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 12px 25px rgba(130, 60, 180, 0.2);
    padding: 20px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    border: 3px solid #c68ef0;
    animation: aparecer 1s ease forwards;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 16px 35px rgba(130, 60, 180, 0.3);
}

.event-img {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 10px;
}

h1 {
    color: #742bb6;
    font-weight: 600;
    margin: 10px 0 5px;
}

.subtitulo {
    color: #a560d3;
    font-weight: bold;
    margin-bottom: 15px;
}

.contenido p {
    color: #5a4b64;
    font-size: 0.95rem;
    padding: 0 10px;
    margin-bottom: 15px;
}

button {
    background-color: #a560d3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s;
    font-weight: bold;
}

button:hover {
    background-color: #7d2dc5;
    transform: scale(1.05);
}

.info-oculta {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.6s ease;
    margin-top: 10px;
}

.info-visible {
    max-height: 300px;
    opacity: 1;
}

.mini {
    width: 90px;
    height: 70px;
    border-radius: 10px;
    object-fit: cover;
    margin: 5px;
    border: 2px solid #c68ef0;
    transition: transform 0.3s ease, border-color 0.3s;
}

.mini:hover {
    transform: scale(1.1);
    border-color: #7d2dc5;
}